<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Development -->
    <link rel="stylesheet" href="../css/student-dashboard-custom.css">
    <link href="../dist/student-dashboard-output.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oi&family=PT+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chicle&display=swap" rel="stylesheet">
    
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon_io/site.webmanifest">
    <title>Dashboard | Authentikey</title>
</head>
<body class="relative bg-[#f3f3f2] box-border font-inter overflow-y-auto">
    <header class="bg-white flex shadow-md w-full h-16 md:h-20 rounded-t-none rounded-b-xl fixed top-0 right-0 left-0 px-4 lg:px-36 z-10">
        <div class="w-1/2 lg:w-1/4 h-full flex items-center justify-start">
            <a href="./student-dashboard.html">
                <img src="../assets/logo-auth-png.png" alt="Authentikey"
                    class="size-12 md:size-16 hover:scale-90 active:scale-90 ease-linear duration-200">
            </a>
            
        </div>
        <div class="w-1/2 lg:w-3/4 flex items-center justify-end">
            <div class="hidden lg:flex w-full h-full relative">
                <ul class="w-3/4 flex items-center justify-around" id="desktop-nav-links-container">
                    <li>
                        <button class="text-[12px] font-semibold btn btn-sm btn-primary rounded-full desk-nav-btn">Dashboard</button>
                    </li>
                    <li>
                        <button class="text-[12px] font-semibold btn btn-sm btn-ghost rounded-full desk-nav-btn">Correction Request</button>
                    </li>
                    <li>
                        <button class="text-[12px] font-semibold btn btn-sm btn-ghost rounded-full desk-nav-btn">Contact Dev</button>
                    </li>
                </ul>
                <ul class="w-1/4 flex items-center justify-end">
                    <li>
                        <button class="btn w-fit h-fit rounded-full border-0 p-0 min-h-0 hover:scale-75 ease-in-out duration-300" id="my-account">
                            <div class="avatar placeholder size-11">
                                <div class="bg-gray-300 hover:bg-primary ease-in-out duration-300 text-neutral-content w-24 rounded-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 ease-in-out stroke-gray-500 duration-300">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                                    </svg>
                                </div>
                            </div>
                        </button>
                        
                    </li>
                </ul>
                <ul class="my-account-menu hidden menu menu-sm bg-white shadow-lg rounded-box w-56 absolute right-0 bottom-[-100px]">
                    <li>
                        <a class="view-profile">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            Personal Information
                        </a>
                    </li>
                    <li class="text-[12px]">
                        <a class="view-qr">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="M3 4.875C3 3.839 3.84 3 4.875 3h4.5c1.036 0 1.875.84 1.875 1.875v4.5c0 1.036-.84 1.875-1.875 1.875h-4.5A1.875 1.875 0 0 1 3 9.375v-4.5ZM4.875 4.5a.375.375 0 0 0-.375.375v4.5c0 .207.168.375.375.375h4.5a.375.375 0 0 0 .375-.375v-4.5a.375.375 0 0 0-.375-.375h-4.5Zm7.875.375c0-1.036.84-1.875 1.875-1.875h4.5C20.16 3 21 3.84 21 4.875v4.5c0 1.036-.84 1.875-1.875 1.875h-4.5a1.875 1.875 0 0 1-1.875-1.875v-4.5Zm1.875-.375a.375.375 0 0 0-.375.375v4.5c0 .207.168.375.375.375h4.5a.375.375 0 0 0 .375-.375v-4.5a.375.375 0 0 0-.375-.375h-4.5ZM6 6.75A.75.75 0 0 1 6.75 6h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75A.75.75 0 0 1 6 7.5v-.75Zm9.75 0A.75.75 0 0 1 16.5 6h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75ZM3 14.625c0-1.036.84-1.875 1.875-1.875h4.5c1.036 0 1.875.84 1.875 1.875v4.5c0 1.035-.84 1.875-1.875 1.875h-4.5A1.875 1.875 0 0 1 3 19.125v-4.5Zm1.875-.375a.375.375 0 0 0-.375.375v4.5c0 .207.168.375.375.375h4.5a.375.375 0 0 0 .375-.375v-4.5a.375.375 0 0 0-.375-.375h-4.5Zm7.875-.75a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75Zm6 0a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75ZM6 16.5a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75Zm9.75 0a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75Zm-3 3a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75Zm6 0a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75Z" clip-rule="evenodd" />
                            </svg>
                            My QR Code
                        </a>
                    </li> 
                    <li><a class="sign-out"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
                      </svg>
                      Sign out</a></li>
                </ul>
            </div>
            <button class="grid lg:hidden btn btn-ghost btn-sm rounded-full size-10 place-content-center" id="burger-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                  </svg>
                   
            </button>
        </div>
    </header>
    <nav class="flex lg:hidden w-56 h-dvh z-10 pt-[72px] md:pt-[88px] min-h-[376px]  fixed overflow-y-hidden" id="sidebar">
        <div class="w-52 bg-white h-full rounded p-2 shadow-xl flex flex-col items-center justify-between">
            <div class="w-full">
                <div class="flex items-end px-2 mt-6  gap-2 text-[20px] font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd" d="M4.25 2A2.25 2.25 0 0 0 2 4.25v2.5A2.25 2.25 0 0 0 4.25 9h2.5A2.25 2.25 0 0 0 9 6.75v-2.5A2.25 2.25 0 0 0 6.75 2h-2.5Zm0 9A2.25 2.25 0 0 0 2 13.25v2.5A2.25 2.25 0 0 0 4.25 18h2.5A2.25 2.25 0 0 0 9 15.75v-2.5A2.25 2.25 0 0 0 6.75 11h-2.5Zm9-9A2.25 2.25 0 0 0 11 4.25v2.5A2.25 2.25 0 0 0 13.25 9h2.5A2.25 2.25 0 0 0 18 6.75v-2.5A2.25 2.25 0 0 0 15.75 2h-2.5Zm0 9A2.25 2.25 0 0 0 11 13.25v2.5A2.25 2.25 0 0 0 13.25 18h2.5A2.25 2.25 0 0 0 18 15.75v-2.5A2.25 2.25 0 0 0 15.75 11h-2.5Z" clip-rule="evenodd" />
                    </svg>
                    <span class="h-fit mt-0 leading-none ">Navigation</span>
                </div>
                <div class="divider h-2 items-end mt-4 mb-2"></div>
                <ul class="flex flex-col gap-2 w-full h-full">
                    <li class="">
                        <button class="btn btn-ghost mob-nav-btn text-gray-500 ease-in-out duration-300 btn-sm w-full h-10 flex items-center justify-start p-0 rounded-lg px-2 text-[12px] font-medium selected">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path d="M15.5 2A1.5 1.5 0 0 0 14 3.5v13a1.5 1.5 0 0 0 1.5 1.5h1a1.5 1.5 0 0 0 1.5-1.5v-13A1.5 1.5 0 0 0 16.5 2h-1ZM9.5 6A1.5 1.5 0 0 0 8 7.5v9A1.5 1.5 0 0 0 9.5 18h1a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 10.5 6h-1ZM3.5 10A1.5 1.5 0 0 0 2 11.5v5A1.5 1.5 0 0 0 3.5 18h1A1.5 1.5 0 0 0 6 16.5v-5A1.5 1.5 0 0 0 4.5 10h-1Z" />
                            </svg>
                            Dashboard
                        </button>
                
                    </li>
                    <li class="">
                        <button class="btn btn-ghost mob-nav-btn btn-sm w-full  flex items-center justify-start p-0 rounded-lg px-2 text-[12px] font-medium text-gray-500 h-10 ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
                                <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
                            </svg>
                            Correction Request
                        </button>
                    </li>
                    <li class="">
                        <button class="btn btn-ghost mob-nav-btn btn-sm w-full flex items-center justify-start p-0 rounded-lg px-2 text-[12px] font-medium text-gray-500 h-10 ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 0 0 1.28.53l3.58-3.579a.78.78 0 0 1 .527-.224 41.202 41.202 0 0 0 5.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0 0 10 2Zm0 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM8 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm5 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
                            </svg>
                            Contact Dev
                        </button>
                    </li>
                </ul>
            </div>

            <div class="w-full h-auto relative bottom-0">
                <ul class="my-account-menu-two hidden gap-2 menu menu-sm bg-white  w-full rounded-none ">
                    <li class="">
                        <a class="view-profile text-[12px]">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            Personal Information
                        </a>
                    </li>
                    <li >
                        <a class="view-qr text-[12px]">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="M3 4.875C3 3.839 3.84 3 4.875 3h4.5c1.036 0 1.875.84 1.875 1.875v4.5c0 1.036-.84 1.875-1.875 1.875h-4.5A1.875 1.875 0 0 1 3 9.375v-4.5ZM4.875 4.5a.375.375 0 0 0-.375.375v4.5c0 .207.168.375.375.375h4.5a.375.375 0 0 0 .375-.375v-4.5a.375.375 0 0 0-.375-.375h-4.5Zm7.875.375c0-1.036.84-1.875 1.875-1.875h4.5C20.16 3 21 3.84 21 4.875v4.5c0 1.036-.84 1.875-1.875 1.875h-4.5a1.875 1.875 0 0 1-1.875-1.875v-4.5Zm1.875-.375a.375.375 0 0 0-.375.375v4.5c0 .207.168.375.375.375h4.5a.375.375 0 0 0 .375-.375v-4.5a.375.375 0 0 0-.375-.375h-4.5ZM6 6.75A.75.75 0 0 1 6.75 6h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75A.75.75 0 0 1 6 7.5v-.75Zm9.75 0A.75.75 0 0 1 16.5 6h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75ZM3 14.625c0-1.036.84-1.875 1.875-1.875h4.5c1.036 0 1.875.84 1.875 1.875v4.5c0 1.035-.84 1.875-1.875 1.875h-4.5A1.875 1.875 0 0 1 3 19.125v-4.5Zm1.875-.375a.375.375 0 0 0-.375.375v4.5c0 .207.168.375.375.375h4.5a.375.375 0 0 0 .375-.375v-4.5a.375.375 0 0 0-.375-.375h-4.5Zm7.875-.75a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75Zm6 0a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75ZM6 16.5a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75Zm9.75 0a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75Zm-3 3a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75Zm6 0a.75.75 0 0 1 .75-.75h.75a.75.75 0 0 1 .75.75v.75a.75.75 0 0 1-.75.75h-.75a.75.75 0 0 1-.75-.75v-.75Z" clip-rule="evenodd" />
                            </svg>
                            My QR Code
                        </a>
                    </li> 
                    <li>
                        <a class="sign-out text-[12px]">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
                            </svg>
                            Sign out
                        </a>
                    </li>
                </ul>
                <ul class="w-full flex items-center justify-end">
                    <li class=" gap-2 w-full">
                        <button class="btn-sm flex items-center gap-2 bg-gray-200  rounded-md w-full h-10 border-0 p-0 min-h-0  duration-300 px-2 text-gray-600 " id="my-account-two">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 ease-in-out stroke-gray-600 duration-300 ">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                                </svg>
                            </div>
                            <span class="text-[12px]">My Account</span>
                        </button>
                    
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main class="grid main-student-dashboard pt-[72px] md:pt-[88px] px-2 lg:px-36 mb-4">
        
        <article class="totalLogin w-full h-full ">
            <article
            class="totalLogin flex flex-col gap-2 rounded-lg border border-gray-100 bg-white p-2 sm:p-4 dark:border-gray-800 dark:bg-gray-900 w-full h-full shadow-md">
                <%
                    let thisWeekLogins = loginThisWeek;
                    let lastWeekLogins = loginLastWeek;
                    let change = thisWeekLogins - lastWeekLogins;
                    let percentageChange = lastWeekLogins > 0 ? (change / lastWeekLogins) * 100 : 100;
                    let isIncrease = change > 0;
                    let isSame = change === 0;
                    let bgColor = isIncrease ? 'bg-green-100 dark:bg-green-700 text-green-600 dark:text-green-50' 
                                : (isSame ? 'bg-gray-100 dark:bg-gray-700 text-gray-600 dark:text-gray-50' 
                                : 'bg-red-100 dark:bg-red-700 text-red-600 dark:text-red-50');
                    let iconPath = isIncrease ? "M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" 
                                : (isSame ? "M4 12h16" 
                                : "M13 17h8m0 0v-8m0 8l-8-8-4 4-6-6");
                %>
                
                <div class="inline-flex items-center gap-2 self-end rounded-sm <%= bgColor %> p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="<%= iconPath %>" />
                    </svg>
                    <span class="text-xs font-medium">
                        <%= percentageChange.toFixed(2) %>% 
                    </span>
                </div>
        
        
            
                <div class="flex flex-col  w-full gap-2">
                    <strong class="block text-sm font-medium text-gray-500 dark:text-gray-400"> Total Logins </strong>
            
                    <p>
                        <span class="text-2xl font-medium text-gray-900 dark:text-white"> <%= loginThisWeek %> </span>
                        <span class="text-xs text-gray-500 dark:text-gray-400 text-nowrap"> this week | <span class="font-semibold text-black "><%= loginLastWeek %></span> last week </span>


                    </p>
                    

      
                </div>
            </article>
        </article>
        <article class="recentUsed w-full h-full min-h-full">
            <article class="flex flex-col gap-2 rounded-lg border border-gray-100 bg-white p-2 sm:p-4  dark:border-gray-800 dark:bg-gray-900 h-full w-full shadow-md">
                <div class="inline-flex items-center gap-2 self-end rounded-sm bg-blue-100 p-1 text-blue-600 dark:bg-blue-700 dark:text-blue-50">
                    <svg viewBox="0 0 24 24" id="_24x24_On_Light_Recent" data-name="24x24/On Light/Recent" xmlns="http://www.w3.org/2000/svg" fill="#2563eb" class="size-5">
                        <g id="SVGRepo_bgCarrier" stroke-width="1.5">
                        </g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier"> 
                            <rect id="view-box" width="24" height="24" fill="none"></rect> 
                            <path id="Shape" d="M9.682,18.75a.75.75,0,0,1,.75-.75,8.25,8.25,0,1,0-6.189-2.795V12.568a.75.75,0,0,1,1.5,0v4.243a.75.75,0,0,1-.751.75H.75a.75.75,0,0,1,0-1.5H3a9.75,9.75,0,1,1,7.433,3.44A.75.75,0,0,1,9.682,18.75Zm2.875-4.814L9.9,11.281a.754.754,0,0,1-.22-.531V5.55a.75.75,0,1,1,1.5,0v4.889l2.436,2.436a.75.75,0,1,1-1.061,1.06Z" transform="translate(1.568 2.25)" fill="#2563eb">
                            </path> 
                        </g>
                    </svg>
                    <span class="text-xs font-medium"> 
                        Recently Used 
                    </span>
                </div>
        
                <div class="flex items-center gap-3">
                    <div class="flex flex-col  w-full gap-2">
                        <strong class="block text-sm font-medium text-gray-500 dark:text-gray-400"> Last Used PC </strong>
                        <p class="text-xl font-semibold text-gray-900 dark:text-white">
                            PC-<%= lastPcUsed %> 
                            <span class="text-xs text-gray-500 dark:text-gray-400">
                                Last Used: <%= lastUsedDate%>
                            </span>
                        </p>
                    </div>
                    
                </div>
            </article>
        </article>

        <div class="pendingRequest w-full h-full min-h-full">
            <article class="flex flex-col gap-2 rounded-lg border border-gray-100 bg-white p-2 sm:p-4 dark:border-gray-800 dark:bg-gray-900 h-full w-full shadow-md">
                <div class="inline-flex items-center gap-2 self-end rounded-sm bg-yellow-100 p-1 text-yellow-600 dark:bg-yellow-700 dark:text-yellow-50">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <span class="text-xs font-medium"> 
                        Pending Requests 
                    </span>
                </div>
            
                <div class="flex items-center gap-3">
                    <div class="flex flex-col  w-full gap-2">
                        <strong class="block text-sm font-medium text-gray-500 dark:text-gray-400"> Requests Awaiting Approval </strong>
                        <p class="text-2xl text-gray-900 dark:text-white font-semibold">
                            <%= correctionRequestCount%> 
                        </p>
                        
                    </div>
                </div>
            </article>
            
        </div>
        <div class="searchBar w-full h-full min-h-full">
            <label class="input input-bordered flex items-center gap-2 h-full w-full rounded hover:outline-primary">
                <input type="text" class="grow search" placeholder="Search" />
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="h-4 w-4 opacity-70">
                    <path
                        fill-rule="evenodd"
                        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                        clip-rule="evenodd" />
                </svg>
            </label>
        </div>
        
        <div class="table-user w-full h-full  min-h-full oveflow-y-scroll">
            <div class="overflow-x-auto rounded-lg border border-gray-200 shadow-md w-full h-full">
                <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm w-full h-full">
                    <thead>
                        <caption class="text-xl text-left px-4 py-4 font-inter text-nowrap bg-white font-semibold">Computer Access Record</caption>
                    </thead>
                    <thead class="h-12">
                        <tr class="h-12">
                            <th class="px-6 py-3 text-left font-medium text-gray-900 text-base text-nowrap">Name</th>
                            <th class="px-6 py-3 text-left font-medium text-gray-900 text-base text-nowrap">Date</th>
                            <th class="px-6 py-3 text-left font-medium text-gray-900 text-base text-nowrap">Time In</th>
                            <th class="px-6 py-3 text-left font-medium text-gray-900 text-base text-nowrap">Time Out</th>
                            <th class="px-6 py-3 text-left font-medium text-gray-900 text-base text-nowrap">PC #</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        
                        <% function formatDate(dateString) {
                            const date = new Date(dateString);
                            if (isNaN(date)) {
                                return "Invalid Date";
                            }
                            const options = { month: "short", day: "numeric", year: "numeric" };
                            return date.toLocaleDateString("en-US", options);
                        } %>

                        <% allLogs.forEach(item => { %>
                            <tr class="odd:bg-purple-50 h-12">
                                <td class="px-6 py-3 font-medium text-gray-900 text-nowrap max-h-[48px]"><%= name %></td>
                                
                                <% Object.entries(item).forEach(([key, value]) => { %>
                                    <% if (key === 'date') { %> 
                                        <td class="px-6 py-3 text-gray-700 text-nowrap max-h-[48px]">
                                            <%= formatDate(value) %>
                                        </td> 
                                    <% } else { %> 
                                        <td class="px-6 py-3 text-gray-700 text-nowrap max-h-[48px]">
                                            <%= value %>
                                        </td> 
                                    <% }; %>
                                <% }); %>
                            </tr>    
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="graph w-full h-full min-h-full shadow-lg p-1 box-border md:p-4 bg-white rounded-lg  flex items-center justify-center">
            <canvas id="myChart" class="p-2 rounded-md" style="height: 100%; width: 100%; object-fit: fill;">

            </canvas>
            
        </div>
    </main>

    <main class="main-request-correction w-full h-auto min-h-lvh pt-[72px] md:pt-[88px] px-2 lg:px-36 hidden items-start justify-center mb-4">
        <form class="bg-white w-[600px] h-auto shadow-lg rounded-lg p-4 md:p-6 space-y-4">
            <h2 class="text-2xl font-bold text-gray-800 text-center my-12">Correction Request Form</h2>

            <div>
                <label class="block text-sm font-medium text-gray-700">Full Name</label>
                <input type="text" name="name" required
                    class="mt-1 block w-full rounded-lg border border-gray-300 p-2 focus:outline-primary" id="cr-full-name" value="<%= name%>" disabled>
            </div>
    

            <div>
                <label class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" name="email" required
                    class="mt-1 block w-full rounded-lg border border-gray-300 p-2 focus:outline-primary" id="cr-email" value="<%= email%>" disabled>
            </div>
    
            <div>
                <label class="block text-sm font-medium text-gray-700">Subject</label>
                <input type="text" name="subject" required
                    class="mt-1 block w-full rounded-lg border border-gray-300 p-2 focus:outline-primary" id="cr-subject">
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700">Date of Record</label>
                <input type="date" name="date" required
                    class="bg-white mt-1 block w-full rounded-lg border border-gray-300 p-2 focus:outline-primary"  id="cr-date-record">
            </div>
    
            <div>
                <label class="block text-sm font-medium text-gray-700">Correction Details</label>
                <textarea name="details" required rows="4"
                    class="mt-1 block w-full rounded-lg border border-gray-300 p-2 focus:outline-primary" id="cr-correction-details"></textarea>
            </div>
    

            <button type="submit"
                class="btn text-sm w-full bg-primary text-white py-2 rounded-lg font-medium hover:bg-indigo-700 transition"  id="cr-submit">
                Submit Request
            </button>
        </form>
    </main>

    <main class="main-contact-dev w-full h-auto min-h-lvh pt-[72px] md:pt-[88px] px-2 lg:px-36 hidden items-start justify-center mb-4">
        <form class="bg-white w-[600px] h-auto shadow-lg rounded-lg p-4 md:p-6 space-y-4">
            <h2 class="text-2xl font-bold text-gray-800 text-center mt-12">Contact Dev</h2>
            <div class=" w-full h-auto grid place-items-center mt-0">
                <span class="text-sm text-center mb-12 flex w-full sm:w-3/4">You can report any bugs or issues directly to the development team for assistance.</span>  
            </div>  
            
            <div>
                <label class="block text-sm font-medium text-gray-700">Full Name</label>
                <input type="text" name="name" required
                    class="mt-1 block w-full rounded-lg border border-gray-300 p-2 focus:outline-primary" value="<%= name%>" disabled>
            </div>
        
            <div>
                <label class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" name="email" required
                    class="mt-1 block w-full rounded-lg border border-gray-300 p-2 focus:outline-primary" value="<%= email%>" disabled>
            </div>
        
            <div>
                <label class="block text-sm font-medium text-gray-700">Subject</label>
                <input type="text" name="subject" required
                    class="mt-1 block w-full rounded-lg border border-gray-300 p-2 focus:outline-primary">
            </div>
        
            <div>
                <label class="block text-sm font-medium text-gray-700">Message</label>
                <textarea name="message" required rows="4"
                    class="mt-1 block w-full rounded-lg border border-gray-300 p-2 focus:outline-primary"></textarea>
            </div>
        
            <button type="submit"
                class="btn text-sm w-full bg-primary text-white py-2 rounded-lg font-medium hover:bg-indigo-700 transition ">
                Send Message
            </button>
        </form>
        
          
          
    </main>
    
    <main class="load black-low-opacity w-full h-auto min-h-lvh pt-[72px] md:pt-[88px] px-2 lg:px-36 hidden items-center justify-center z-30 ">
        <div class="w-40 aspect-video bg-base-100 flex flex-col items-center justify-center gap-1 rounded-md">
            <span class="loading loading-spinner text-accent"></span>
            <span class="text-accent text-sm">Just a moment...</span>
        </div>
    </main>

    <div class="black-low-opacity w-full h-lvh hidden items-center justify-center z-30 absolute inset-0 custom-modal">
        <main class="profile w-[95%] max-w-[500px]  h-auto  bg-white rounded-md px-4 pt-14 pb-4 relative hidden flex-col gap-3">
            <button class="btn btn-ghost btn-sm rounded-full px-2 absolute right-2 top-2 close-modal">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
            <div class="w-full h-auto flex items-center justify-between">
                <h1 class="font-semibold text-lg">Personal Details</h1>
                <button class="btn btn-ghost btn-xs rounded-full px-1" id="change-personal-edit-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                    Edit
                </button>
            </div>
            <hr class="h-[2px] "/>
            <div class="w-full h-auto flex items-center justify-between text-xs">
                <span class="w-20 sm:w-28 flex items-center justify-between font-semibold"><span>Name</span><span>:</span></span>
                <span class="w-full max-w-full overflow-x-auto flex items-center justify-end" id="new-name"><%= name%></span>
            </div>
            <hr class="h-[2px]"/>
            <div class="w-full h-auto flex items-center justify-between text-xs">
                <span class="w-20 sm:w-28 flex items-center justify-between font-semibold"><span>Stud #</span><span>:</span></span>
                <span class="w-full max-w-full overflow-x-auto flex items-center justify-end"  id="new-studId"><%= studentID%></span>
            </div>
            <hr class="h-[2px]"/>
            <div class="w-full h-auto flex items-center justify-between text-xs">
                <span class="w-20 sm:w-28 flex items-center justify-between font-semibold"><span>Section</span><span>:</span></span>
                <span class="w-full max-w-full overflow-x-auto flex items-center justify-end" id="new-section"><%= section%></span>
            </div>
            <hr class="h-[2px]"/>
            <div class="w-full h-auto flex items-center justify-between text-xs">
                <span class="w-20 max-w-full overflow-x-auto sm:w-28 flex items-center justify-between font-semibold"><span>Email</span><span>:</span></span>
                <span class="w-full flex items-center justify-end" id="new-email"><%= email%></span>
            </div>
            <hr class="h-[2px]"/>
            <div class="w-full h-auto hidden items-center justify-end gap-2 text-xs personal-save-cancel-container">
                <button class="btn btn-error btn-sm text-xs btn-outline rounded-full" id="cancel-change-personal-info">Cancel</button>
                <button class="btn btn-success btn-sm text-xs rounded-full text-white w-[66.31px]" id="save-new-personal-info">Save</button>
                
            </div>
            
            <div class="w-full h-auto  flex items-center justify-between">
                <h1 class="font-semibold text-lg">Change Password</h1>
                <button class="btn btn-ghost btn-xs rounded-full px-1" id="change-pass-edit-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                    Edit
                </button>
            </div>
            <hr class="h-[2px] "/>
            <div class="w-full h-auto flex items-center justify-between text-xs">
                <div class="font-semibold flex items-center justify-between w-24 sm:w-28">
                    <label for="new-password">New Pass</label>
                    <span>:</span>
                </div>
                <input type="text" id="new-password" class="input input-bordered w-[60%] h-5 rounded text-xs text-right px-2 focus:outline-primary max-w-[320px]" disabled>
            </div>
            <hr class="h-[2px]"/>
            <div class="w-full h-auto hidden items-center justify-end gap-2 text-xs  new-pass-save-cancel-container">
                <button class="btn btn-error btn-sm text-xs btn-outline rounded-full" id="cancel-change-pass">Cancel</button>
                <button class="btn btn-success btn-sm text-xs rounded-full text-white w-[66.31px]" id="save-new-password">Save</button>
            </div>
            <hr class="h-[2px]"/>
            <div class="w-full h-auto flex items-center justify-start ">
                <button class="btn btn-sm btn-error text-xs text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                      </svg>
                      Delete Account
                </button>
            </div>
        </main>
        <main class="view-qr-code w-[95%] max-w-[500px]  aspect-square  bg-white rounded-md px-4 py-14 relative hidden flex-col items-center justify-center gap-3">
            <button class="btn btn-ghost btn-sm rounded-full px-2 absolute right-2 top-2 close-modal">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
            <div class="w-56 h-auto flex items-center justify-center">
                <h1 class="text-xl font-semibold">Your QR Code</h1>
            </div>
            <div class="w-56 aspect-square border-[2px] border-double border-gray-400 qr-code p-2 rounded-md">

            </div>
            <div class="w-56 h-auto">
                <button class="btn btn-primary w-full download-qr">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                      </svg>
                      
                    Download QR
                </button>
            </div>
        </main>
    </div>

    <footer class="footer bg-gray-600 text-neutral-content p-10">
        <aside>
            <img src="../assets/logo-auth-png.png" class="object-contain size-14" alt="">
            <p>
                Authentikey
                <br />
                <br />
                Offering an intelligent and convenient solution for monitoring student computer usage.
            </p>
        </aside>
        <nav>
            <h6 class="footer-title">Social</h6>
            <div class="grid grid-flow-col gap-4">
                <a>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="fill-current">
                    <path
                    d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
                </svg>
                </a>

                <a>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="fill-current">
                    <path
                    d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
                </svg>
                </a>
                <a>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    class="fill-current">
                    <path
                    d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
                </svg>
                </a>
            </div>
        </nav>
    </footer>
    <div class="error h-screen place-content-center bg-white px-4">
        <div class="text-center">
            <h1 class="text-9xl font-black text-gray-200">404</h1>
        
            <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Uh-oh!</p>
        
            <p class="mt-4 text-gray-500">We don't support devices with a width less than 320px or a height less than 480px.</p>
        
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

    <script>
        function getMonths() {
            const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            let currentMonthIndex = new Date().getMonth(); 
            
            return [months[(currentMonthIndex + 10) % 12], months[(currentMonthIndex + 11) % 12], months[currentMonthIndex]];
        }
        const canvas = document.getElementById("myChart");
        
        const ctx = canvas.getContext("2d");

        new Chart(ctx, {
            type: "bar",
            data: {
                labels: getMonths(),
                datasets: [{
                    label: "Usage of computer per month",
                    data: <%- JSON.stringify(lastThreeMonthsLogins) %>, 
                    backgroundColor: ["#1dcdbc", "#f000b8", "#570df8"]
                }]
            },
            options: {
                plugins: {
                    legend: {
                        labels: {
                            boxWidth: 0
                        }
                    }
                }
            }
        });


        document.addEventListener('DOMContentLoaded', () => {
            const qrContainer = document.querySelector(".qr-code");
            const qr = new QRCode(qrContainer, {
                text: '<%= studentID%>',
                width: 208,
                height: 208
            });

            const downloadQrBtn = document.querySelector('.download-qr');

            downloadQrBtn.addEventListener('click', (event) => {
                event.stopPropagation();
                event.preventDefault();

                const qrCanvas = qrContainer.querySelector(".qr-code > canvas");

                

                if (qrCanvas) {
                    const link = document.createElement("a");
                    link.href = qrCanvas.toDataURL("image/png"); 
                    link.download = "qrcode.png"; 
                    link.click();
                } 
                else {
                    alert("QR Code not generated yet.");
                }
            })
        });



    </script>
    
      
    
    <script src="../js/student-dashboard.js"></script>
</body>
</html>